@model CustomerType
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<form action="/CustomeType/ProceseCustomeType" method="post">
    <label>Name</label>
    @Html.TextBoxFor(m => m.Description)
   
    <button type="submit" class="btn btn-primary">Add</button>
</form>

