
@{
    ViewData["Title"] = "Index";
}

<h1>Custome Type</h1>

<form action="/Home/ProceseCustome" method="post">
    <label>Name</label>
    <input class="form-control form-control-lg" type="text" name="Name" placeholder="Name" aria-label=".form-control-lg example">

    <button type="submit" class="btn btn-primary">Add</button>
</form>

