@model Customer

@{
    ViewData["Title"] = "Create";
    
}
    
    @using(Html.BeginForm("ProceseCustome", "Home", FormMethod.Post))
    {
    <label>Name</label>

    @Html.TextBoxFor(m => m.CustName);

    <label>Adress</label>
        @Html.TextBoxFor(m => m.Adress);
    <br>
        @Html.DropDownList("RecolectoresSelec", ViewBag.CustomeType , "Selecciona un recolector", new { @class = "form-control" })

    <input type="submit" class="btn btn-primary" value="Add">

 }



    
